<ul>
    <% for(var i=0;i<msg.length;i++){ %>
        <li><%= msg[i].text %> <% if(admin){ %><a href="./delete?id=<%= msg[i].id %>">delete</a><% } %> </li>
    <% } %>
</ul>
<form action="./addmsg" method="post">
    <input required type="text" id="msg" name="msg">
    <input type="submit" name="send" value="Send">
</form>
<% if(!admin){%>
    <form action="./login" method="post">
        <input required type="password" name="pw">
        <input type="submit" name="send" value="Login">
    </form>
<% }else{ %>
    <a href="./logout">Logout</a>
<% } %>