<ul>
    <% for(var i=0;i<msg.length;i++){ %>
        <li><%= msg[i].text %> <a href="./delete?id=<%= msg[i].id %>">delete</a></li>
    <% } %>
</ul>
<form onsubmit="return check();" action="./addmsg" method="post">
    <input type="text" id="msg" name="msg">
    <input type="submit" name="send" value="Send">
</form>
<script>
function check(){
    return document.querySelector('#msg').value.length>0;
}
</script>